<div class="small-container center-block">
    <h1><%=@article.title%></h1>
    <p>Written by: <strong><%= @article.user.email %></strong></p>
    <div>
        <%=@article.content%>
    </div>

    <div class="margin-top">
        <p class="label">Tags</p>
        <% @article.categories.each do | category | %>
            <span class="badge badge-pill padding mb-3" style="background-color: <%= category.color %>">
                <%= link_to category.title, category, class:"text-white" %>
            </span>
        <% end %>
    </div>
    <div>
    <%= link_to "Delete article", @article, method: :delete %>
    </div>
</div>