<div class="small-container center-block">
    <p class="font-weight-bold text-uppercase margin-top">Edit user</p>
    <% if current_user.avatar.attached?%>
        <%= image_tag url_for(current_user.avatar), height: 200 %>
    <% end %>
    <%= form_with(model: current_user, local: true) do | form | %>
        <div class="field">
            <%= form.label :avatar%>
            <%= form.file_field :avatar%>
        </div>
        <div class="field">
            <%= form.submit "Save", class:"btn btn-primary mt-2" %>
        </div>
    <% end %>
</div>